<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>InputList</title>
    </head>
    <body>
        <div id="app" class="container mx-auto mb-6">
            <h1 class="text-4xl mb-6">input-list</h1>

            <input-list v-slot="{ index, isOdd, isEven, isFirstRow, isLastRow }">
                <div class="mb-4">
                    {{index}} - {{isOdd}} - {{isEven}} - {{isFirstRow}} - {{isLastRow}}
                    <br>
                    <input
                        v-model="titles[index]"
                        placeholder="Title"
                        :data-index="index"
                        class="w-full px-2 py-1 outline-none rounded border border-gray-400 mb-3 focus:ring focus:border-blue-500"
                        @remove="e => titles.splice(index, 1)"
                    />
                    <input
                        v-model="names[index]"
                        placeholder="Name"
                        :data-index="index"
                        class="w-full px-2 py-1 outline-none rounded border border-gray-400 mb-3 focus:ring focus:border-blue-500"
                        @remove="e => names.splice(index, 1)"
                    />
                </div>
            </input-list>   
        </div>

        <script type="module">
            import './index.css';
            import Vue from 'vue/dist/vue';
            import { InputList } from './index.js';
            
            Vue.config.devtools = false;
            Vue.config.productionTip = false;

            const vue = new Vue({
                el: '#app',
                components: {
                    InputList
                },
                data() {
                    return {
                        titles: [],
                        names: []
                    };
                }
            });
        </script>
    </body>
</html>
